.login__form-password {
  background-color: black;
  border: none;
  border-bottom: 2px solid #cccccc;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 216px;
  color: #cccccc;
  width: 100%;
}

@media (max-width: 320px) {
  .login__form-password {
    margin-bottom: 173px;
  }
}
