.popup__form {
  width: 358px;
  height: 100%;
  margin: 34px auto 36.5px auto;
  background-color: #fff;
}

@media (max-width: 530px) {
  .popup__form {
    width: 200px;
  }
}

@media (max-width: 320px) {
  .popup__form {
    width: 244px;
  }
}
