@import url("./__form/popup__form.css");
@import url("./__title/popup__title.css");
@import url("./__btn/popup__btn.css");
@import url("./__input/popup__input.css");
@import url("./__text/popup__text.css");
@import url("./__image/popup__image.css");


.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  width: 430px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

@media (max-width: 530px) {
  .popup {
    width: 300px;
  }
}

@media (max-width: 320px) {
  .popup {
    width: 282px;
  }
}
